.job-similar-container {
  background-color: #000000;
  min-height: 100vh;
  padding: 30px;
}
.job-item-container {
  background-color: #272727;
  width: 100%;
  border-radius: 6px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}
.top-container {
  display: flex;
  align-items: center;
  width: 100%;
}
.company-logo {
  height: 100px;
  width: 90px;
  margin-right: 20px;
}
.job-title {
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: 700;
  color: #ffffff;
}
.title-container {
  margin-left: 20px;
}
.start-container {
  display: flex;
  align-items: center;
}
.start-icon {
  font-size: 24px;
  color: #fbbf24;
  margin-right: 6px;
}
.location-package-type-container {
  display: flex;
  align-items: center;
}

.location {
  font-size: 16px;
  font-family: 'Roboto';
  color: #ffffff;
}
.line {
  width: 98%;
  color: #cbd5e1;
}
.location-package-icon-container {
  display: flex;
  align-items: center;
  margin-right: 25px;
  justify-content: space-between;
}
.job-icons {
  font-size: 24px;
  color: #ffffff;
  margin-right: 6px;
}

.link {
  text-decoration: none;
}
.skills-list-container {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
.life-at-container {
  display: flex;
  align-items: center;
}
.compaly-image {
  width: 200px;
  height: 200px;
}
.each-job-item {
  display: flex;
  list-style-type: none;
}
.anchor-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.job-item-details-header-container {
  display: flex;
  flex-direction: column;
}
.job-items-failure-image {
  height: 400px;
  width: 400px;
  margin-bottom: 10px;
}
.jobs-item-heading {
  font-size: 22px;
  font-family: 'Roboto';
  font-weight: 700;
  color: #ffffff;
}
.jobs-item-desc {
  font-size: 16px;
  font-family: 'Roboto';
  color: #ffffff;
}
.job-failure-button {
  background-color: #4f46e5;
  height: 100%;
  outline: none;
  border-width: 0px;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.each-job-item {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .each-job-item {
    flex-direction: row;
  }
}
